# فایل‌های اضافی پایتون
*.pyc
__pycache__/
*.pyo
*.pyd

# محیط مجازی
venv/
env/
ENV/
.venv/
.ENV/

# فایل‌های سیستمی و مخفی
.DS_Store
Thumbs.db

# لاگ و دیتابیس‌های تستی
*.log
*.sqlite3

# تنظیمات ادیتور‌ها
.idea/
.vscode/

# فایل‌های کش یا موقت
*~
instance/
*.db
